/* add your css classes here */

body { 
  background: rgba(63, 195, 251, 0.789); 
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

#color00,#color01, #color10, #color11 {
  background: rgb(102, 194, 165);
}

#color02,#color03, #color12, #color13 {
  background: rgb(252, 141, 98);
}

#color04,#color05, #color14, #color15 {
  background: rgb(106, 138, 212);
}

#color06,#color07, #color16, #color17 {
  background: rgb(231, 138, 195);
}

#color20,#color21, #color30, #color31 {
  background: rgb(108, 216, 84);
}

#color22,#color23, #color32, #color33 {
  background: rgb(255, 217, 47);
}

#color24,#color25, #color34, #color35 {
  background: rgb(241, 83, 83);
}

#color26,#color27, #color36, #color37 {
  background: rgb(210, 83, 221);
}

#container {
  margin:auto;
  text-align: center;
  width: 80%;
}

#table {
  margin: 20px auto;
}

button {
  margin: 15px;
}