/* add your css classes here */

body { 
  background: rgba(63, 195, 251, 0.789); 
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

#color00,#color01, #color10, #color11 {
  background: rgb(233, 128, 195);
}
